<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function inof(l,r){
           const o = r.prototype;
           l = l.__proto__;
           while(true){
            if(l===null){
                return false;
            }
            if(o === l){
                return true;
            }
            l = l.__proto__;
           }
        }
    </script>
</body>
</html>